services:
    # Repositories
    CurrencyRepository:
        class: Wame\CurrencyModule\Repositories\CurrencyRepository
        inject: yes


doctrine:
    metadata:
        Wame\CurrencyModule\Entities: %appDir%/../vendor/wame/CurrencyModule/entities